<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>New Skill</h1>
  <form action="/skills" method="POST" autocomplete="off">
    <label for="skill">Skill</label>
    <input type="text" id="skill"  name="text" required>

    <label for="level">Skill Level</label>
    <select name="level" id="level" required>
      <option value="beginner">Beginner</option>
      <option value="intermediate">Intermediate</option>
      <option value="advanced">Advanced</option>
    </select>

    <button type="submit">Save Skill</button>
  </form>
</body>
</html>